inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 500
max_async_level = 4

[model]
name = "Qwen/Qwen3-4B-Thinking-2507"

[wandb]
project = "wiki-search-debug"
name = "wiki-search-4b"

[trainer.optim]
lr = 1e-5
weight_decay = 0.0

[trainer.model.experimental.lora]
rank = 8
alpha = 32
dropout = 0.0
target_modules = [
    "q_proj",
    "k_proj",
    "v_proj",
    "o_proj",
    "gate_proj",
    "up_proj",
    "down_proj"
]

[orchestrator]
batch_size = 512
rollouts_per_example = 16
seq_len = 16384
mask_truncated_completions = false
zero_truncated_completions = true
oversampling_factor = 2.0


[orchestrator.sampling]
max_tokens = 4096

[orchestrator.buffer]
online_difficulty_filtering = true

[[orchestrator.env]]
id = "primeintellect/wiki-search"

[inference.model]
enable_auto_tool_choice = true
tool_call_parser = "hermes"
